    <div class="container m-5 p-5">
        <div class="row">
            <div class="col-12">
                {{#if user}}
                    <p>You are currently logged in</p>
                    <a href="/logout">Logout</a>
                {{else}}
                    <a href="/login">Login</a>
                    <br/>
                    <a href="/register">Register</a>
                {{/if}}
            </div>
        </div>
    </div>
