.notifications {
    position:fixed;
    top:0;
    width:100%;
    right:0;
    z-index: 998;
}
.notifications .notification {
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 999;
    transition: all 500ms ease-in-out;
}

.truncate-recipe-search {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate-favourite-recipe {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.truncate-recipe-details {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate-shopping-list {
    width: 480px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate-location {
    width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 2200px) {
    .truncate-recipe-search {
        width: 250px;
    }
}


@media (max-width: 2000px) {
    .truncate-recipe-search {
        width: 220px;
    }
}

@media (max-width: 1800px) {
    .truncate-recipe-search {
        width: 190px;
    }
}

@media (max-width: 1600px) {
    .truncate-recipe-search {
        width: 150px;
    }
}

@media (max-width: 1400px) {
    .truncate-recipe-search {
        width: 75px;
    }
}
@media (max-width: 1200px) {
    .truncate-recipe-search {
        width: 50px;
    }
}

@media (max-width: 1000px) {
    .truncate-recipe-search {
        width: 30px;
    }
}

@media (max-width: 768px) {
    .truncate-recipe-search {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .truncate-recipe-search {
        width: 400px;
    }
}

@media (max-width: 640px) {
    .truncate-recipe-search {
        width: 350px;
    }
}


@media (max-width: 640px) {
    .truncate-recipe-search {
        width: 350px;
    }
}

@media (max-width: 540px) {
    .truncate-recipe-search {
        width: 230px;
    }
    .truncate-favourite-recipe {
        width: 300px;
    }
}

@media (max-width: 411px) {
    .truncate-recipe-search {
        width: 150px;
    }
    .truncate-favourite-recipe {
        width: 300px;
    }
}

@media (max-width: 375px) {
    .truncate-recipe-search {
        width: 100px;
    }
    .truncate-shopping-list {
        width: 200px;
    }
    .truncate-location {
        width: 230px;
    }

    .truncate-recipe-details {
        width: 150px;
    }
    .truncate-favourite-recipe {
        width: 250px;
    }
}