<footer class="footer text-white bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <span class="text-muted"><small>&copy; Dr Jim Sharples Clinic</small></span>
            </div>
            <div class="col-3">
                <span class="text-muted">
                <a href="text-muted"><small>Terms &amp; Conditions</small></a>
            </span>
            </div>
            <div class="col-3">
                    <span>
                <a href="#"><small>About Us</small></a>
            </span>
            </div>
            <div class="col-1 offset-2 text-right">
                <div class="progress mt-2">
                    <a href="#" class="progress-bar progress-bar-striped progress-bar-danger" style="width:10%;" data-container="body" data-trigger="focus" data-toggle="popover" data-placement="top" title="Download Queue" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></a>
                </div>

            </div>
        </div>
    </div>
</footer>